@font-face{
    font-family:Round;
    src: url('fonts/RoundStyleBasic.ttf');
}

*::-moz-selection{
    background: #F27627;
    color: white;
}

::selection{
    background: #F27627;
    color: white;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, 
code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, 
dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, 
tbody, tfoot, thead, tr, th, td{
    font-family: 'Open Sans', sans-serif;
}

q, p, div, span, strong, mark, pre, input, textarea, h1, h2, h3, h4, h5, h6, h7, article h2 a, summary, .definition a:before, .definition a:after{
    color: #444;
    font-weight: normal;
    text-align: justify;
}

.hidden{
    display: none;
}

body{
    line-height: 1.2em;
    position: absolute;
    font-size: 0.9em;
    width: 100%;
}

p{
    margin: 5px 0 0 0;
}

blockquote, q{
    display: block;
    font-style: italic;
}

button{
    display: block;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px 10px;
    background: linear-gradient(to bottom, #EEE, #CCC) repeat scroll 0 0 transparent;
    box-shadow: 0 0 5px #aaa;
    border: none;
}

button:hover{
    background: linear-gradient(to bottom, #EEE, #BBB) repeat scroll 0 0 transparent;
    box-shadow: 0 0 5px #aaa inset;
}

button:active{
    background: #ddd;
}

textarea{
    resize: none;
}

a{
    text-decoration: none;
    color: #ef7b32;
    cursor: pointer;
}

a:hover{
    color: #734D35;
}

bold{
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, h7, article h2 a{
    font-weight: bold;
}

h2, h3, h2 a{
    font-family: 'Fauna One', serif;
}

h2{
    font-size: 1.4em;
    text-align: left;
    margin: 20px 0;
}

h3{
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: normal;
}

h3 a{
    color: #444;
}

h5{
    font-size: 1em;
}

ul{
    list-style: circle inside;
    margin: 0;
}

.wrapper{
    margin: 0 auto;
    width: 95%;
    position: static;
}

.text{
    margin: 10px 0;
}

.title{
    display: inline;
    margin-bottom: 5px;
    color: #222;
}

.wrapper > section > *{
    margin-left: 20px;
}

.wrapper > section > h2{
    margin-left: 0;
}

.text h4 span{
    padding-left: 5px;
}

#title{
    display: flex;
    background: radial-gradient(ellipse at center, hsl(0,0%,29%) 0%,hsl(0,0%,6%) 100%);
}

#title div{
    width: 50%;
    margin: auto auto;
}
#title *{
    font-family: 'Fauna One';
    font-size: 15px;
    line-height: 1.23em;
}

#title p{
    color: white;
    text-shadow: 2px 2px 5px #777;
}

#title a:hover{
    color: #FA782A;
}

#rules span{
    cursor: pointer;
}

#rules span.selected, #rules span:hover{
    padding: 0 5px;
    border-radius: 4px;
}

#rules span:hover{
    background: #EAD9CE;
}

#rules span.selected{
    background: #EDB795;
}

#rules span.selected:hover{
    background: #EF7B32;
}

#rules ul{
    list-style: none;
    position: relative;
}

#rules > ul{
    margin-top: 20px;
}

#rules h3{
    display: inline;
    margin: 0;
    padding-left: 5px;
    min-width: 130px;
}

#rules h4{
    display: inline;
}

#rules > ul > li{
    padding: 10px 10px 10px 0;
    margin: 2px 0;
    display: flex;
    flex-direction: row;
    background: #EAD9CE;
    cursor: pointer;
}

#rules > ul > li:hover{
    background: #EDB795;
}

#rules > ul > li.selected{
    background: #EF7B32;
}

#rules .selected q, #rules .selected ul{
    display: inline;
}

#rules ul q, #rules ul ul{
    display: none;
}

#definitions{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
}

#definitions .column{
    width: 100%;
    margin: 0 40px 0 0;
}

#definitions .definition{
    background: #ccc;
    text-align: justify;
    padding: 3px;
    margin: 10px 0;
    overflow: hidden;
    cursor: pointer;
}

.definition p{
    text-margin: 4px;
}

.definition a:before, q a:before{
    content: "(";
}

.definition a:after, q a:after{
    content: ")";
}

.definition a{
    font-style: normal;
}

blockquote p{
    text-margin: 0;
}

blockquote p:first-child:before{
    content: open-quote;
}

blockquote p:last-child:after{
    content: close-quote;
}

#definitions .definition:hover{
    background: #bbb;
}

#definitions .definition:active{
    background: #999;
}

#definitions h3{
    padding-left: 8px;
}

/* For the transition i've to use max-height */
#definitions .paragraph{
    height: 100%;
    padding: 0 5px 0 5px;
    max-height: 250px;
    transition: max-height 2s;
}

#definitions #loreg .paragraph{
    max-height: 420px;
}

#definitions #venecia .paragraph{
    max-height: 460px;
}

#definitions #selectoral .paragraph{
    max-height: 500px;
}

#definitions .closed, #definitions #loreg .closed, #definitions #selectoral .closed, #definitions #venecia .closed{
    max-height: 0;
    transition: max-height 2s;
}

.definition q{
    margin-top: 5px;
}

.inv78 p{
}

.inv78 article{
    margin: 20px 0 20px 20px;
    padding: 4px 10px 10px;
    background: #EAD9CE;
}

.inv78 ol{
    list-style: decimal inside;
    margin-left: 15px;
}

#developmentNation, #developmentProvinces{
    width: 100%;
}

#developmentProvinces{
    clear: both;
    margin-top: 30px;
}

#alternatives form{
    margin-top: 20px;
    text-align: left;
    margin-bottom: 10px;
}

#alternatives form span{
    display: block;
    width: 100%;
    position:relative;
    line-height: 2em;
}

#alternatives select{
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

#alternatives h3{
    text-align: left;
    margin-left: 20px;
}

#alternatives > div{
    width: 95%;
    border: 2px dashed #EEE;
    padding: 5px;
    border-radius: 15px;
}

#alternatives > div:hover{
    border: 2px dashed #CCC;
}

.subsidy{
    width: 600px;
    float: left;
    margin: 10px 20px 0 0;
}

.subsidy h6{
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
}

h2.bibliography{
    margin-bottom: 20px;
}

ol.bibliography{
    list-style: inside none;
    counter-reset: item 0;
}

.bibliography li:target{
    background: #FAFFAD;
}

.bibliography span{
    color: #555;
    position: absolute;
    padding-left: 5px;
}

.bibliography span:before{
    content: "[" counter(item) "] ";
    counter-increment: item 1;
}

.bibliography li :nth-child(2){
    padding-left: 40px;
    margin: 0;
}

div.footer{
    clear: both;
    margin: 0;
    text-align: left;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

div.footer a{
    color: #444;
    font-size: 13px;
    text-align: left;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
}

div.footer a span{
    width: 230px;
    padding-left: 10px;
    line-height: 1.2em;
    font-weight: 300;
}

div.footer a img{
    height: 31px;
}

div.footer #powered{
    height: 60px;
    margin: 0 0 30px 0;
}

@media all and (min-width: 500px){
    .wrapper{
        margin-top: 30px;
        padding: 0 20px;
    }

    div.footer{
        margin: 20px;
    }
}

@media all and (min-width: 650px){
    #alternatives .text{
        text-align: left;
    }

    #alternatives canvas{
        float: left;
        clear: both;
    }
}

@media all and (min-width: 800px){
    h2{
        font-size: 1.7em;
    }

    h3{
        font-size: 1.4em;
    }

    body, h5 {
        line-height: 1.4em;
        font-size: 1em;
    }

    h5{
        font-size: 1.1em;
    }

    div.footer{
        flex-direction: row;
        -webkit-flex-direction: row;
    }

    div.footer #powered{
        margin: 0 50px 0 0;
    }
}

@media all and (min-width: 880px){
    #developmentNation, #developmentProvinces{
        background: url("../images/arrow.png") 70% 60% no-repeat;
        background-size: auto 250px;
    }

    .left{
        float: left;
    }

    .right{
        float: right;
    }

    .text{
        margin-bottom: 30px;
        text-align: left;
        display: block;
    }

    section canvas{
        display: block;
    }

    #developmentNation .text{
        margin-top: 50px;
    }

    #alternatives .text{
        display: inline;
        float: right;
        width: 400px;
    }

    #alternatives form span{
        display: inline;
        width: 100%;
        position:relative;
        line-height: 1em;
    }

    #alternatives select{
        margin-right: 20px;
        position: static;
    }
}

@media all and (min-width: 1025px){
    .wrapper{
        width: 86%;
    }
}

@media all and (min-width: 1200px){
    .wrapper{
       width: 90%
    }

    #developmentNation, #developmentProvinces{
        background: url("../images/arrow.png") 60% 50% no-repeat;
        background-size: auto 350px;
    }
}

@media all and (min-width: 1600px){
    .wrapper{
       width: 70%;
    }
}
